body {
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
}

h3 {
    margin: 0 2px;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

hr {
    color: #ddd;
    margin-bottom: 10px;
}

p.title {
    font-weight: 600;

}

span.key {
    margin-left: 10px;
    margin-right: 20px;
    color: brown;
    font-weight: 600;
    font-size: 1.5em;
}